body {
    height: 100vh;
    flex-direction: column;
}

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 48px;
    list-style: none;
}

.sec1container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    gap: 80px;
}

.sec1title {
    font-size: 55px;
}

.sec1info {
    font-size: 20px;
    margin-bottom: 10px;
}

button {
    padding: 8px 25px;
}

.info1, .sec1img {
    width: 500px;
}

.sec2 {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 100px;
}

.sec2container {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.sec2title {
    font-size: 38px;
    padding-bottom: 50px;
}

.info2, .sec2img {
    max-width: 200px;
}

.text2 {
    font-size: 18px;
}

.quote {
    display: flex;
    justify-content: center;
}