body {
    height: 100vh;
    flex-direction: column;
}

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 48px;
    list-style: none;
}

.sec1container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec1title {
    font-size: 55px;
}

.sec1info {
    font-size: 20px;
}


.info {
    width: 500px;
}

img {
    width: 500px;
}