.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 48px;
    list-style: none;
}

.sec1container {
    display: flex;
}

img {
    width: 500px;
}